<div class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2023 INE Tlaxcala</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa fa-key-modern" aria-hidden="true"></i> Administración</a></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa fa-cloud-download" aria-hidden="true"></i> Descarga</a></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="fa fa-python" aria-hidden="true"></i> Acerca de</a></li>
    </ul>
  </footer>
</div>