{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Control de PUSINEX">
  <meta name="author" content="Javier Sanchez Toledano">
  <title>{% block site_title %}{% endblock %} - Control de PUSINEX</title>
  {% include 'partials/_styles.html' %}
</head>
  <body>
    <div class="container py-3 min-vh-100">
      {% include 'partials/_header.html' %}
      <main class="container">
        {% block hero %}{% endblock hero %}
        {% block precontent %}{% endblock precontent %}
        {% block content %}{% endblock content %}
        {% block postcontent %}{% endblock postcontent %}
      </main>
    </div>

    {% include 'partials/_footer.html' %}
    {% include 'partials/_scripts.html' %}
    {% block footer %}{% endblock %}
  </body>
</html>
